@using System.Diagnostics.CodeAnalysis


<div class="card-back" style="background-color: @(Color ?? "rgb(55 55 55/1)");">
	@ChildContent 
</div>
@code {

	[Parameter]
	public RenderFragment? ChildContent  { get; set; }
	[Parameter,AllowNull]
	public string? Color { get; set; }

}