.card-back {
    border-radius: 0.5rem;
}

.card-head {
    --cardinal: #C41E3A;
    background-color: var(--cardinal);
    border: 0 solid var(--cardinal);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}
