@inherits LayoutComponentBase

@inject IAccountService accService
@inject IJSRuntime js

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!--<div class="top-row px-4">
        </div>-->
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (accService.Gradebook == null) {
            string username = await js.InvokeAsync<string>("window.ReadCookie", "username");
            string password = await js.InvokeAsync<string>("window.ReadCookie", "password");
            string schedule = await js.InvokeAsync<string>("window.ReadCookie", "schedule");


            try { accService.InitSchedule(schedule); } catch { }


            Console.WriteLine(username + " " + password);
            if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password)) return;

            if(await accService.LoginAsync(new User { Username = username, Password = password }, false)) {
            }

        }
    }
}