#container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#date-selector {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.clear {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#date-shower {
    width: 14rem;
    height: 2.25rem;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/* add seperator */
.schedule-item {
    border-bottom: 1px solid hsla(0,0%,100%,80%);
    margin: 1.5rem 1.5rem 1rem 1.5rem;
}
    .schedule-item:last-child {
        border: none;
    }

.period {
    display: flex;
    justify-content: space-between;
}

.lunch {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.lunch-slot {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-grow: 1;
}

.lunch-slot .period {
    flex-direction: column;
}

hr#lunch-divider {
    border: 1px solid hsla(0,0%,100%,80%);
}

#jump {
    position: absolute;
    right: 0rem;
    padding: 0.5rem 0.25rem;
    background-color: rgb(44 44 44 / 1);
    border: none;

    font-size: 14px;
}